In [2]:
import os
import pandas as pd
import numpy as np

np.random.seed(33)

In [5]:
file_dict = dict(enumerate(os.scandir('Dataset')))
file_dict

{0: <DirEntry '41598_2022_7222_MOESM6_ESM.xlsx'>}

In [6]:
df = pd.read_excel(file_dict[0])

In [8]:
df.head()

,Unnamed: 0,123.7124,129.6213,135.5237,141.4197,147.3091,153.1921,159.0686,164.9387,170.8024,...,3954.1993,3956.5927,3958.9844,3961.3743,3963.7624,3966.1487,3968.5333,3970.9162,3973.2972,3975.6765
0,Adulterated honey,0,0,0.0,140.370,969.73,2606.0,4880.8,7470.0,10216.0,...,112.720,65.250,73.281,1.3125,42.344,82.375,36.875,40.688,0.0,0
1,Adulterated honey,0,0,0.0,38.621,570.24,1660.9,3268.0,5090.0,6982.0,...,108.130,62.750,78.750,0.0000,33.219,69.438,41.563,42.281,0.0,0
2,Adulterated honey,0,0,0.0,108.230,718.96,1930.2,3746.1,5801.8,7902.5,...,114.060,66.641,74.906,0.0000,32.625,78.281,46.688,48.094,0.0,0
3,Adulterated honey,0,0,0.0,519.060,1459.10,2952.6,4898.0,7015.8,9187.7,...,103.940,68.859,79.875,0.0000,39.563,73.594,39.063,54.031,0.0,0
4,Adulterated honey,0,0,0.0,330.430,1225.70,2843.3,4805.9,7069.6,9434.8,...,96.875,61.688,75.531,0.0000,36.094,80.188,40.313,53.656,0.0,0

In [9]:
df.rename(columns = {'Unnamed: 0' : 'target'}, inplace = True)
df.head()

,target,123.7124,129.6213,135.5237,141.4197,147.3091,153.1921,159.0686,164.9387,170.8024,...,3954.1993,3956.5927,3958.9844,3961.3743,3963.7624,3966.1487,3968.5333,3970.9162,3973.2972,3975.6765
0,Adulterated honey,0,0,0.0,140.370,969.73,2606.0,4880.8,7470.0,10216.0,...,112.720,65.250,73.281,1.3125,42.344,82.375,36.875,40.688,0.0,0
1,Adulterated honey,0,0,0.0,38.621,570.24,1660.9,3268.0,5090.0,6982.0,...,108.130,62.750,78.750,0.0000,33.219,69.438,41.563,42.281,0.0,0
2,Adulterated honey,0,0,0.0,108.230,718.96,1930.2,3746.1,5801.8,7902.5,...,114.060,66.641,74.906,0.0000,32.625,78.281,46.688,48.094,0.0,0
3,Adulterated honey,0,0,0.0,519.060,1459.10,2952.6,4898.0,7015.8,9187.7,...,103.940,68.859,79.875,0.0000,39.563,73.594,39.063,54.031,0.0,0
4,Adulterated honey,0,0,0.0,330.430,1225.70,2843.3,4805.9,7069.6,9434.8,...,96.875,61.688,75.531,0.0000,36.094,80.188,40.313,53.656,0.0,0

In [37]:
df.shape

(200, 1025)

In [29]:
df['target'].unique()

array(['Adulterated honey', 'Pure honey'], dtype=object)

In [41]:
# aggreagting the df by the target column then taking mean of each group and then Transposing it
mean_df = df.groupby('target').mean().T 
mean_df

target     Adulterated honey   Pure honey
123.7124            0.000000     0.000000
129.6213            0.000000     0.000000
135.5237           23.608018    35.808744
141.4197          280.301566   347.256095
147.3091          898.448687  1084.119149
...                      ...          ...
3966.1487          94.421949    88.440178
3968.5333          48.523869    59.094455
3970.9162          57.233949    68.434475
3973.2972           0.169505     0.000000
3975.6765           0.000000     0.000000

[1024 rows x 2 columns]

In [42]:
X = df.select_dtypes('number')
Y = df.target

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [66]:
train_x, test_x, train_y, test_y = train_test_split(X,Y, test_size = .2, shuffle=True)

In [67]:
scaler= StandardScaler()    
train_x= scaler.fit_transform(train_x)
test_x= scaler.transform(test_x)

In [68]:
from sklearn.svm import SVC

In [69]:
classifier = SVC(kernel='linear', random_state = 0)

In [70]:
classifier.fit(train_x, train_y)

SVC(kernel='linear', random_state=0)

In [71]:
pred_y= classifier.predict(test_x)

In [72]:
pred_y

array(['Pure honey', 'Adulterated honey', 'Adulterated honey',
       'Pure honey', 'Adulterated honey', 'Adulterated honey',
       'Adulterated honey', 'Adulterated honey', 'Pure honey',
       'Adulterated honey', 'Adulterated honey', 'Adulterated honey',
       'Adulterated honey', 'Adulterated honey', 'Pure honey',
       'Pure honey', 'Adulterated honey', 'Adulterated honey',
       'Pure honey', 'Adulterated honey', 'Pure honey',
       'Adulterated honey', 'Adulterated honey', 'Pure honey',
       'Adulterated honey', 'Adulterated honey', 'Adulterated honey',
       'Adulterated honey', 'Pure honey', 'Pure honey',
       'Adulterated honey', 'Pure honey', 'Pure honey', 'Pure honey',
       'Pure honey', 'Adulterated honey', 'Pure honey', 'Pure honey',
       'Pure honey', 'Adulterated honey'], dtype=object)

In [73]:
classifier.score(test_x, test_y)

0.975

In [74]:
from sklearn.metrics import confusion_matrix

In [75]:
con = confusion_matrix(test_y, pred_y)

In [76]:
con

array([[22,  0],
       [ 1, 17]])